__pycache__/
.idea/
.fleet/
.vscode/
**/dist/*
**/build/
**/node_modules/
test/coverage/
**/tmp/*
**/src/.venv/*
logs/*
scripts/out/*.md
bins/*/mock/outputs/**
!bins/*/mock/outputs/.gitkeep

bins/chatterbox_onnx/output

package-lock.json
*.pyc
.DS_Store
*.sublime-workspace
npm-debug.log
debug.log
.env
.last-skill-npm-install
**/Pipfile.lock
.python-version
