[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11.9"

[packages]
setuptools = "*"
wheel = "*"
pyinstaller = "==6.15.0"
faster-whisper = "==1.2.0"
pipfile = "*"
